@font-face {
	font-family: 'Skyrim Medium';
	src: url('fonts/Typo3-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Skyrim;
	src: url('fonts/typo3Normal.ttf') format('truetype');
}

BODY {
	margin: 20px;
	text-align: center;
	font-family: Skyrim, Garamond, serif;
	background-color: black;
	color: white;
	background-image: url('images/mapbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bodyContent {
	display: flex;
	padding: 10px;
}

#gameOutput {
	border: 0;
	background-color: #111;
	color: white;
	font-size: 14px;
	width: 100%;
	height: 60vh;
	resize: none;
	font-family: Skyrim, Garamond, serif;
}

.halfwidth {
    width: 50%;
}

.fullwidth {
	width: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.center {
    text-align: center;
    display: block;
}

#userInput {
	opacity: 0;
}

.consoleContainer {
	width: 50vw;
    height: 80vh;
	display: block;
}

.container {
    max-width: 50vw;
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box {
	margin: 20px;
	padding: 15px;
	border: 0px;
	border-radius: 20px;
	color: white;
	background-color: #111;
	opacity: .8;
	text-align: center;
}

.boxTitle {
	font-size: 18px;
	margin: 0px 10px 10px 10px;
    color: yellow;
}

.tabField {
    text-align: left;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 20px;
}

.tabTitle {
    font-size: 12px;
    font-weight: 600;
    cursor: hand;
    padding: 0px 5px 0px 0px;
    color: #000;
}

.tabBorder {
    border-right: 1px solid black;
}

.activeTab {
    color: #FFF;
}

.bag {
	border-collapse: collapse;
    margin: 10px;
}

.bag TD {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
}

.viewport {
	// border: 1px solid gray;
	height: 200px;
	width: 300px;
}

.map {
	// border: 1px solid gray;
	height: 200px;
	width: 300px;
    display: none;
}

.stats {
	// border: 1px solid gray;
	width: 300px;
	text-align: left;
}

.statsTable {
	border: 0;
	margin: 10px;
}

.statsTable TD {
	border: 0;
	padding-right: 10px;
    font-size: 12px;
}