@font-face {
	font-family: 'Skyrim Medium';
	src: url('fonts/Typo3-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Skyrim;
	src: url('fonts/typo3Normal.ttf') format('truetype');
}


BODY {
	margin: 50px;
	text-align: center;
	font-family: Skyrim, Garamond, serif;
	background-color: black;
	color: white;
	background-image: url('images/mapbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bodyContent {
	display: flex;
	padding: 10px;
}

#gameOutput {
	border: 0;
	background-color: #111;
	color: white;
	font-size: 16px;
	width: 100%;
	height: 60vh;
	resize: none;
	font-family: Skyrim, Garamond, serif;
}

.fullwidth {
	width: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

#userInput {
	opacity: 0;
}

.container {
	width: 50vw;
	display: block;
}

.box {
	margin: 20px;
	padding: 20px;
	border: 0px;
	border-radius: 20px;
	color: white;
	background-color: #111;
	opacity: .6;
	text-align: center;
}

.boxTitle {
	font-size: 24px;
	margin: 10px;
}

.inventory {
	border-collapse: collapse;
}

.inventory TD {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
}

.map {
	border: 1px solid gray;
	height: 200px;
	width: 300px;
}

.view {
	border: 1px solid gray;
	height: 200px;
	width: 200px;
}

.stats {
	border: 1px solid gray;
	height: 300px;
	width: 400px;
	text-align: left;
}

.statsTable {
	border: 0;
	margin: 10px;
}

.statsTable TD {
	border: 0;
	padding-right: 10px;
}