@font-face {
	font-family: 'Skyrim Medium';
	src: url('fonts/Typo3-Medium.ttf') format('truetype');
}
@font-face {
	font-family: Skyrim;
	src: url('fonts/typo3Normal.ttf') format('truetype');
}


BODY {
	margin: 50px;
	text-align: center;
	font-family: Skyrim, Garamond, serif;
	background-color: black;
	color: white;
	background-image: url('images/mapbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bodyContent {
	display: flex;
	padding: 10px;
}

#gameOutput {
    margin: 30px;
    padding: 10px;
	border: 0;
	border-radius: 20px;
    background-color: #111;
    color: white;
    font-size: 16px;
    width: 90%;
    height: 60vh;
	resize: none;
	font-family: Skyrim, Garamond, serif;
	opacity: .6;
}

#userInput {
    opacity: 0;
}

.container {
	width: 50%;
}

.box {
	margin: 30px;
    padding: 10px;
	border: 0px;
	border-radius: 20px;
	color: white;
	background-color: #111;
	opacity: .6;
	text-align: center;
	display: inline-block;
}

.boxTitle {
	font-size: 24px;
	margin: 10px;
}

.inventory {
	border-collapse: collapse;
	display: block;
	margin: auto;
	text-align: center;
}

.inventory TD {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
}